* {
    padding: 0px;
    margin: 0px;
}

#gatinhos{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    padding: 20px;
}

img {
    display: block;
    width: auto;
    height: 250px;
    border-radius: 10px;
}
.div-logos{
    display: flex;
    gap: 60px;
    flex-wrap: wrap;
    padding: 20px;
}
.card{
    display: flex;
    margin;10x;
}